<div class="list">
    <div class="list-title">
        @if (editMode) {
        <input type="text"
               [formControl]="nameControl"
               [defaultValue]="list().name"
               (keyup)="onKeyUp($event)" />
        }@else {
        <span class="title">{{ list().name }}</span>
        }
        <div>
            <button class="btn"
                    (click)="editMode = true">
                <app-edit-icon />
            </button>
            <button class="btn"
                    (click)="goToTodosPage(list().id)">
                <app-open-icon />
            </button>

            <button class="btn"
                    (click)="listService.removeList(list().id)">
                <app-close-icon />
            </button>
        </div>
    </div>

    <div class="bar">
        <span class="percentage"
              [style.width]="`${percentage()}%`">
            <span class="tooltip">{{ percentage() }}%</span>
        </span>
    </div>
</div>